###### Required ######
ACCEPTED_LANGUAGES=de,en
DEFAULT_LANGUAGE=en
NODE_ENV=development
PORT=8080

###### Optional ######
CRITICAL_CSS_CACHE_SALT=123123
CRITICAL_CSS_CACHE_TTL_SEC=60
DEBUG_ON_KEY=3a6c5e94-08cc-4a86-aab0-1555358d012a
IS_CACHE_ON=false
IS_CRITICAL_CSS_CACHE_ON=true
IS_DEBUG_ON=true
IS_RENDER_CACHE_ON=true
LIVE_RELOAD_PATH=__live-reload
LOG_LEVEL=info
REDIS_URL=redis://default:secret@localhost:6379
RENDER_CACHE_SALT=123123
RENDER_CACHE_TTL_SEC=60

###### Development ######
DOCKER_IMAGE=b12k:the-boilerplate-vue
IS_BUNDLER_CACHE_ON=true
PORTAINER_WEBHOOK=
REDIS_PASSWORD=secret
REDIS_PORT=6379
WDS_PORT=8081
