{% extends "base.njk" %}

{% block head %}
  {{ '{{{ renderResourceHints() }}}' }}
  {{ '{{{ renderStyles() }}}' }}
{% endblock %}

{% block body %}
  <!--vue-ssr-outlet-->
  {{ '{{{ renderState() }}}' }}
  {{ '{{{ renderScripts() }}}' }}
{% endblock %}
