<!doctype html>
<html lang="{{ context.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if criticalCss %}
    <style data-type="critical-css">
      {{ criticalCss | safe }}
    </style>
  {% else %}
    {% for style in manifest.css.initial %}
      <link rel="stylesheet" as="style" href="{{ style }}">
    {% endfor %}
  {% endif %}
  {% for script in manifest.js.initial %}
    <script src="{{ script }}" defer></script>
  {% endfor %}
  {% for script in manifest.js.async %}
    <link rel="preload" as="script" href="{{ script }}">
  {% endfor %}
  {% for style in manifest.css.initial %}
    <link rel="preload" as="style" href="{{ style }}">
  {% endfor %}
  {% for style in manifest.css.async %}
    <link rel="preload" as="style" href="{{ style }}">
  {% endfor %}
  <script data-type="initial-state">
    window.INITIAL_STATE = '{{ state | safe }}';
  </script>
</head>
<body>
  <div id="app">{{ html | safe }}</div>
  {% if criticalCss %}
    <script>
      const cssAssets = {{ manifest.css.initial | dump | safe }};
      cssAssets.map((href) => {
        const link = document.createElement('link');
        link.href = href;
        link.rel = 'stylesheet';
        link.as = 'style';
        document.head.appendChild(link);
      });
    </script>
  {% endif %}
  {% if context.isDebug %}
    {% include "_env.njk" %}
  {% endif %}
</body>
</html>
